@model Company

<form class="p-4" action="" method="post">
    <input asp-for="Id" hidden />
    <div class="border p-4 m-4">
        <div class="row pb-2">
            <h2 class="textprimary">@(Model.Id !=0?"Update":"Create") Company</h2>
            <hr/>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="row mb-3">
            <label asp-for="Name"  class="p-0"></label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="StreetAddress" class="p-0"></label>
            <input asp-for="StreetAddress" class="form-control" />
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="City" class="p-0"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="State" class="p-0"></label>
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="PostalCode" class="p-0"></label>
            <input asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="PhoneNumber" class="p-0"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="row">
            @if (Model.Id != 0) {
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
            }
            else {
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
            }
            <div class="col-6 col-md-3">
                <a asp-controller="Company" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}