@using BulkyBook.Models
@model Product

<form class="pt-4 m-5" action="" method="post">
    <div class="border p-4 mb-4">
        <div class="row pb-2">
            <h2 class="textprimary">Edit Product</h2>
            <hr />
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="row mb-3">
            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" type="text" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="ISBN" class="p-0"></label>
            <input asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Author" class="p-0"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="ListPrice" class="p-0"></label>
            <input asp-for="ListPrice" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Price50" class="p-0"></label>
            <input asp-for="Price50" class="form-control" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Price100" class="p-0"></label>
            <input asp-for="Price100" class="form-control" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Edit</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>
<br/>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}